/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require twitter/bootstrap
 */

body {
    background-color: #FAFAFA;
    font: 12pt "Tahoma";
}

.catalogs {
    margin-top: 3%;
    width: 70%;
}

.backButton {
    margin-top: 3%;
    margin-left: 35%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;    
}

.welcomeMsg {
    width: 50%;
}

.productShow {
    margin-top: 2%;
    width: 30%;
    height: 300px;
    border-radius: 8px;
    border: 1px solid black;
}

.product1 {
    margin-left: 10px;
}

.productTitle {
    font-weight: bold;
    font-size: 18pt;
    font-family: Verdana;
}

.productCode {
    margin-left: 2px;
    font-weight: normal;
    font-size: 12pt;
}

.productDescription {
    margin-left: 5px;
    margin-top: -14px;
    font-size: 8pt;
}

.priceSection {
    text-align: center;
}

.productFPrice {
    text-align: center;
    margin-right: 4px;
    font-size: 10pt;
    text-decoration: line-through;
}

.productPrice {
    text-align: center;
    background-color: blue;
    color: white;
}